@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex; /* creates stacking context for all elems */
}

.about__title {
  margin: 100px 0 0 80px;
  max-width: 251px;
  z-index: 1;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin: 119px 80px 173px auto;
  max-width: 660px;
}

.about__paragraph {
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-of-type {
  margin: 0;
}

.about__circle {
  background-color: #1878dc;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
