.card {
  width: 640px;
}

.card__title {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 30px;
}

.card__list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000;
}
